*{
	padding: 0;
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

h1{
	font-family: Impact;
	font-size: 36pt;
	margin-top: 26pt;
	margin-bottom: 14pt;
}

h5{
	font-family: UbuntuMono;
	font-size: 11pt;
	text-align: center;
}

p{
	font-family: UbuntuMono;
	font-size: 14pt;
	text-indent: 1.5em; 
    	text-align: justify; 
    	line-height: 1.5;
}

code{
	font-family: UbuntuMono;
	font-size: 14pt;
	color: lime;
	background-color: black;
}

@font-face {
	font-family: UbuntuMono; 
	src: url(UbuntuMono-Regular.ttf); 
}

#title_pic{
	position: relative;
	left: 0;
	width: 100%;
	height: 320px;
	margin: 0;
	background: url(title_pic.gif);
	background-attachment: fixed;
    	background-repeat: no-repeat;
    	background-size: cover;
}

#text_content{
	margin-left: 20%;
	margin-right: 20%; 
}

#footer{
	background: black;
	width: 100%;
	height: 14pt;
	color: white;
	margin-top: 26pt; 
}

#menu{
	position: fixed;
	background: rgba(0,0,0,.7);
	width: 100%;
	text-align: center;
	top: 0;
	padding-top: 20pt;
	padding-bottom: 20pt; 
}

#menu > a{
	color: white;
	font-family: UbuntuMono;
	font-size: 20pt;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
}

#menu > a:hover{
	text-shadow: 0 0 1.5em white;
}

h5 > a > img {
	width: 200px;
	height: 200px;
	margin: 26pt;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transition: all .5s;
}

h5 > a > img:hover {
	width: 240px;
	height: 240px;
}

h5 > a > img:active {
	width: 180px;
	height: 180px;
}
h5 > img {
	width: 500px;
	height: auto;
}